<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">

  <div class="badge">
      <button mat-stroked-button color="primary" matBadge="{{ closed }}">Tasks Finalizadas</button>
  </div>
  <div class="badge">
      <button (click)="finalizados()" mat-stroked-button color="primary" >Finalizados</button>
  </div>

  <button (click)="criar()" class="new-todo mat-elevation-z8" mat-stroked-button color="primary">Criar</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">

            <p>Data finalização: {{item.dataFinalizar}}</p>

            <mat-card-header>
              <mat-card-title>{{item.titulo}}</mat-card-title>
              <mat-card-subtitle>{{item.descricao}}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">

              <button (click)="finalizar(item)" mat-mini-fab color="primary">
                  <mat-icon>done</mat-icon>
              </button>
              
              <button mat-mini-fab color="accent">
                  <mat-icon>edit</mat-icon>
              </button>

              <button (click)="delete(item.id)" mat-mini-fab color="warn">
                  <mat-icon>delete</mat-icon>
              </button>

            </div>

          </mat-card>
          
    </div>

</div>