.container{
    width: 85%;
    margin: auto;
    
}

.badge{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bagde button{
    margin: auto;
    width: 100%;

}

.content{
    width: 100%;
    padding: 0;
}

mat-card{
    margin-top: .8rem;
    padding: .2rem;
}

.new-todo{
    width: 100%;
    margin-top: 3rem;
}

p{
    text-align: end;
    font-weight: 600;
    color: rgb(114, 111, blue);
    margin-bottom:0 ;
    padding: 0.5rem;
}
.actions{
    text-align: end;
}

.actions button{
    margin: .5rem;
}