<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div class="container">
    <button class="new-todo mat-elevation-z8" mat-stroked-button color="primary">New</button>

    <div class="content">
        <mat-card class="mat-elevation-z8">
            <p>data finalizar</p>
            <mat-card-header>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <div class="actions">
            <button mat-mini-fab color="primary">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-mini-fab color="accent">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
          </div>
    </div>

</div>