form { 
  width: 70%;
  margin: 2rem auto 0 auto;
  text-align: center;


}

.data-finalizar{

  text-align: start;

}

.h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: darkgray;
}


.form{
  width: 100%;

}

.buttons{
   width: 100%;
    text-align: start;
} 


button{
  margin-right: .5rem;
  padding-top: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}